@use "@picocss/pico/scss/pico";
@use "helper";
@use "responsive";

.success{
  color: #56c69d;
}

.error{
  color: #e35252;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a, a:visited{
      font-size: 2rem;
      text-decoration: none;
      color: #3a9092;
    }

  .logo {
    a {
      padding-bottom: 0;
    }
    small {
      padding-left: 15px;
      color: var(--pico-muted-color);
    }
  }
}

.list{
  padding-left: 1rem;
}