@use "@picocss/pico/scss/pico";
@use "helper";
@use "responsive";

:root {
  --font-family: 'Outfit', sans-serif;
  --pico-primary-hover: #2f7375 !important;
  --pico-primary: #3a9092 !important;
  --pico-secondary: #56c69d !important;
  --pico-primary-background: #3a9092 !important;
  --pico-primary-hover-background: #2f7375 !important;
  --pico-secondary-background: #56c69d !important;
  --pico-accordion-active-summary-color:#3a9092 !important;
}

.success{
  color: #56c69d;
}

.error{
  color: #e35252;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a, a:visited{
      font-size: 2rem;
      text-decoration: none;
      color: #3a9092;
    }

  .logo {
    a {
      padding-bottom: 0;
    }
    small {
      padding-left: 15px;
      color: var(--pico-muted-color);
    }
  }
}

.list{
  padding-left: 1rem;
}

.redirect{
  small {
    color: var(--pico-muted-color);
  }
}