@media screen and (max-width: 768px) {
  fieldset {
    display: block !important;

    input {
      border-top-right-radius: var(--pico-border-radius) !important;
      border-bottom-right-radius: var(--pico-border-radius) !important;
      margin-bottom:var(--pico-spacing) !important;
    }

    button {
      width: 100% !important;
    }
  }

  .container{
    padding-top: .2rem;
    padding-right: .2rem;
    padding-left: .2rem;
  }

  header{
    .logo{
      padding: 0;
    }
  }

  .list{
    padding-left: 1rem;
  }
}